.base {
  height: 300vh;
}

.filler {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.depth-section-container {
  height: 100vh;
  display: flex;
}

.half-width {
  padding-left: 50%;
  width: 50%;
}

.half-height {
  height: 50vh;
}
