.base {
  height: 300vh;
}

.filler {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.depthSectionContainer {
  height: 100vh;
  display: flex;
}

.halfWidth {
  padding-left: 50%;
  width: 50%;
}

.halfHeight {
  height: 50vh;
}

.htmlContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 3rem;
}
